[2016-12-12 20:46] codevinsky opened #1 "Plugins"
I really like this plugin compared to the alternative. It's clean and simple and I feel like it has a lot of room for a plugin architecture so that devs could add something like:

* vcs status (branch/commit/etc)
* clock
* Machine Status (battery/memory)
* New email status
* Basically whatever you could do in vim/emacs with a status line

Thoughts?

[2016-12-13 18:22] henrikdahl commented on #1
@codevinsky Thanks! 👊

I agree, there's definitely room for additions. So far I've only added what I personally use.

I'd need more details on features you'd like to see if you want me to code them in or you could PR them yourself. ✌️

[2016-12-13 22:07] stereokai opened #4 "Doesn't work on Windows :("
Windows 10, Hyper 1.0.0

I'm also getting these errors in the devtools. Although they correspond to the SVG icons, they are straightforward and might shed some light on the issue:

![errors](https://cloud.githubusercontent.com/assets/2685357/21161448/57bc2716-c191-11e6-904c-870fa24d2ef4.PNG)

[2016-12-13 22:11] henrikdahl commented on #1
@codevinsky, @s2tephen

Made a version that checks if repo is dirty. What do you guys think about it? Worth including?

![dirty](https://cloud.githubusercontent.com/assets/1430576/21161471/046a725a-c189-11e6-98fe-9fd22c00f0d8.png)

[2016-12-13 22:19] henrikdahl commented on #4
Sadly I can't properly debug this on my own as I don't have Windows.

Do the SVG icons actually reside on that path? Does the status line show up at all?

[2016-12-13 22:26] stereokai commented on #4
The correct path is `C:\Users\Tom\.hyper_plugins\node_modules\hyper-statusline\icons` (the slashes are missing), because it seems this: `url('${__dirname}/icons/folder.svg');` isn't working. Maybe it needs to be resolved using nodejs `path` library?

Also the footer is definitely being created, but it isn't being populated.
![footer](https://cloud.githubusercontent.com/assets/2685357/21162026/f7ef

[2016-12-13 22:28] s2tephen commented on #1
Looks good to me! What states are you including and what icons will you use to represent them?

[2016-12-13 22:48] stereokai commented on #4
It's weird because logging `__dirname` spews out the correct path string: `C:\Users\Tom\.hyper_plugins\node_modules\hyper-statusline`
However in Chrome (Electron) itself it's always `url('C:\Users\Tom\.hyper_plugins\node_modules\hyper-statusline/icons/folder.svg')`

[2016-12-13 22:50] henrikdahl commented on #1
@s2tephen

Neat! ✌️

Currently only shows if the repo is dirty or not. Thinking of adding unpulled/unpushed with down/up arrow icons as well.

[2016-12-13 23:07] stereokai commented on #4
@henrikdahl and regarding the information not being populated, the command for cwd definitely won't work on Windows :)

[2016-12-13 23:08] henrikdahl commented on #4
@stereokai You're definitely right, I wrote that particular code back when Hyper looked to be Mac OS only. I'm gonna look into alternatives ✌️

[2016-12-13 23:10] stereokai commented on #4
Sweet, thank you!

[2016-12-14 00:13] luisrudge opened #5 "failed to load on windows"
![image](https://cloud.githubusercontent.com/assets/941075/21164619/6f6a7576-c181-11e6-9ee0-b4e69496e9cc.png)

[2016-12-14 00:23] henrikdahl commented on #5
Wrote the code that fetches current CWD before Windows was on the map for Hyper. Currently relying on a UNIX exclusive command. I'm looking into viable alternatives right now. Pushing a fix soon! ✌️

[2016-12-14 00:31] luisrudge commented on #5
maybe using https://www.npmjs.com/package/cwd?

[2016-12-14 00:35] luisrudge commented on #5
I'm giving this a shot :)

[2016-12-14 01:55] luisrudge commented on #5
yeah.. couldn't make this work on windows 😭

[2016-12-14 01:56] henrikdahl commented on #5
No worries, I'm on it! Expect an update soon. ✌️

[2016-12-14 05:41] henrikdahl commented on #1
Feedback would be neat on push/pull status.

![push](https://cloud.githubusercontent.com/assets/1430576/21170857/567baeee-c1c8-11e6-9b96-cc28e6107159.png)

[2016-12-14 10:31] Naramsim commented on #5
@luisrudge That means that in your ./hyper_plugins/node_modules `hyper-statusline` does not exist.
You can `npm i hyper-statusline` in that folder, and the plugin will load. However, it does nothing 😭

I think something is broken in Hyperterm itself.

[2016-12-14 13:28] Naramsim opened #6 "Icons path broken on Windows"
Hi, I am using Hyper v1.0.0 on my Win 10
The console shows this error:
![screenshot 229](https://cloud.githubusercontent.com/assets/8996268/21183697/68685e54-c209-11e6-8b0d-164ee11e0cbb.png)

The path isn't correct
it should be: `file:///C:/Users/Ale/.hyper_plugins/node_modules/hyper-statusline/icons/dirty.svg`

[2016-12-14 13:43] Naramsim commented on #6
I see that you use this call to inject the path:
[code]

if I `console.log(__dirname)` the result it gives me is `C:\Users\Ale\AppData\Local\hyper\app-1.0.0\resources\app`. There is no icons folder there.
![screenshot 230](https://cloud.githubusercontent.com/assets/8996268/21184212/add18da6-c20b-11e6-9ae2-cb8ab463798c.png)

[2016-12-14 15:21] markokajzer opened #7 "Doesn't work well with long paths"
The plugin does not work with with long paths (Java project...). The path just overflows and one can't see the whole thing. It also pushes the git branch information out.

![Long Path](https://cloud.githubusercontent.com/assets/9379317/21187510/8dacbb5e-c25b-11e6-8050-065a5871aef9.png)

[2016-12-14 17:55] henrikdahl commented on #7
@markokajzer What would be your preferred solution? Multiple lines? Shortening overflowing text with dots? Scrolling text? ✌️

[2016-12-14 19:11] henrikdahl commented on #7
Just pushed an update that handles overflowing paths better.

- No longer pushes away git branch
- Spacing improved
- Shows ellipsis when text overflows
- Added title to path element, long hover to see full path when truncated

Let me know what you think ✌️

[2016-12-15 00:51] markokajzer commented on #7
Good stuff! 🔥🔥🔥

[2016-12-15 00:51] #7 closed

[2016-12-17 18:59] jankuca opened #9 "show branch name during rebase"
I'd like to replace my PS1 template with this plugin but I need to see the name of the branch which is being rebased.

These are the outputs I see with my current prompt:

[code]

This is the function I use for getting the info:

[code]

---

Is this something you would be willing to add? I might take a crack at it myself eventually.

[2016-12-17 20:08] caesar opened #10 "Makes Hyper and subprocesses run really slow"
I initially thought this was an issue with Hyper, but it turns out disabling `hyper-statusline` solves it.

I have a task which takes about 30 seconds to run when using iTerm (or, it turns out, vanilla Hyper).
When using Hyper with hyper-statusline enabled, the same task takes around **80 seconds** -  in other words, *more than twice as long*.

The task in question is a private (unpublished - in d

[2016-12-17 20:53] henrikdahl commented on #10
Could you try the debug-speed branch and check if you see any improvement? ✌️

[2016-12-17 21:03] henrikdahl commented on #9
SED won't be possible since its not supported by Windows. I'll have a look at this soon ✌️

[2016-12-17 21:04] caesar commented on #10
Yes!!! That fixes it! :shipit:

Thanks for the awesome project by the way, you'll probably see some more issues with more ideas in the near future once I've played with Hyper a bit more…

[2016-12-17 21:06] caesar commented on #10
I haven't closed this issue because the problem still exists in master, I guess you'll want to leave it open until you merge in the fixes?

[2016-12-17 21:25] henrikdahl commented on #10
Ay thanks, glad you like it! 👊

Neat, there's definitely room for additional features.

[2016-12-17 21:25] #10 closed

[2016-12-17 23:32] henrikdahl commented on #4
@stereokai Mind trying the os-windows branch for me? Changed the CWD code but I can't debug myself ✌️

[2016-12-17 23:33] henrikdahl commented on #5
@luisrudge Mind trying the os-windows branch to see if CWD works for you on Windows? I still can't debug myself ✌️

[2016-12-18 00:20] henrikdahl commented on #6
@Naramsim Mind trying if the icon path is fixed on the os-windows branch? I can't debug myself without Windows ✌️

[2016-12-18 01:58] s2tephen commented on #6
Not sure if @henrikdahl merged this fix with master, but now icons aren't showing up for me on Mac OSX.

The CSS property is `-webkit-mask-image: url(./icons/folder.svg);` but for me that path points to `file:///Applications/Hyper.app/Contents/Resources/app/icons/folder.svg`, rather than looking in the `hyper_plugins/node_modules` folder.

[2016-12-18 02:03] henrikdahl commented on #6
@s2tephen Was unintentional, tired mistake and tight schedule 😅

If you force an update it's been reverted.

[2016-12-19 01:00] caesar commented on #1
@henrikdahl I think https://github.com/zeit/hyper/pull/1261 would enable this type of extensibility, no?

[2016-12-19 01:01] caesar commented on #1
BTW I like the push/pull status idea, but I haven't worked out what the square with the dot in it means yet…

[2016-12-19 01:07] caesar opened #11 "Don't force new tab to open in current directory"
Normally when a new tab is opened in Hyper it opens at the user's home directory, as is conventional in most shells / terminals.

With hyper-statusline installed, new tabs open in the same directory as the PWD in the tab which is focused when Cmd+T is pressed.

Regardless of which behaviour you or I prefer, this type of configuration / behaviour change is outside the scope of a statusline plugin.

[2016-12-19 01:33] caesar opened #12 "Option to disable transparent footer"
With my theme (solarized dark) I find the footer isn't as visible as I'd like with the default transparency.

I override it by adding this to my Hyper options object:
[code]

Do you think a simple option to disable it would be useful to others, or am I alone in preferring that it be opaque?

[2016-12-19 01:38] caesar opened #13 "Menu to change git branch"
A potential feature idea… It occurred to me that clicking the name of the current branch could open a menu with a list of other existing branches, which could be switched to by clicking on them.

What do you think? May be quite a big job to implement (I haven't really thought yet about how it would be implemented…)

[2016-12-19 01:42] henrikdahl commented on #11
I agree 👍

I'll push a commit that changes the behavior in a few. Thanks ✌️

[2016-12-19 01:43] caesar commented on #13
And sorry for three issues in quick succession, I'll leave off it for a bit now… :-D

[2016-12-19 01:45] caesar commented on #11
Great! Thanks 👍

[2016-12-20 21:13] #11 closed

[2016-12-20 22:09] henrikdahl commented on #12
I definitely agree that options would be a good addition. I'll add a couple of options after Christmas ✌️

On my way to the Caribbean 🕶

[2016-12-20 22:13] caesar commented on #11
That's much better, thanks!

[2016-12-20 22:15] caesar commented on #12
Great stuff. Enjoy the Caribbean! 🌴

[2016-12-20 22:19] henrikdahl commented on #13
@caesar I like the idea but what would happen with the current feature that opens git remote if one exists?

Instead of fetching the current branch you could fetch existing branches. Most of the work would be spent on the UI part.

[2016-12-20 22:25] caesar commented on #13
Interesting, I hadn’t realised it was meant to open the git remote. Doesn’t seem to do anything for me even for repos I know have remotes (such as this one).

Yes I guess most of the work would be planning and executing the UI, it’s a project for when you have a bit of spare time (or I do)...

[2016-12-20 22:29] henrikdahl commented on #1
@caesar Great find. I'll definitely update my code once it's in release, which could be a while ✌️

GitHub actually uses the same icon to represent diff, but even so it's not very self explanatory unless you've previously seen it.

I'll add native tooltips for now. I've actually been wanting to add my own custom tooltips but I've simply lacked time.

[2016-12-20 22:35] henrikdahl commented on #13
Does your remotes contain https? If they do, would you mind sharing the strings so that I can debug? It's only meant to open remotes with https.

[2016-12-21 11:38] henrikdahl commented on #12
Just pushed an update with config options. Details in readme. If you have any ideas for more options let me know ✌️

[2016-12-21 11:38] #12 closed

[2016-12-21 15:37] caesar commented on #12
Cool, looks good! 👍

One question (I haven't checked this out at all, but it's not clear from the Readme) – what are acceptable values for the `dirtyColor` value? I assume it is CSS colours?

[2016-12-21 15:45] caesar commented on #13
Ah that's why. The remotes I was looking at are ssh ones as are most of my remotes - eg `git@github.com:henrikdahl/hyper-statusline.git`.
I guess there's not much you can do to link those, without some 'magic' (ie, builtin support for GitHub and other common remotes).

[2016-12-21 16:29] henrikdahl commented on #12
Thanks 👊

Indeed, CSS. I was considering either CSS or config colors but ultimately CSS gives you more freedom.

[2016-12-21 19:40] #5 closed

[2016-12-21 19:41] #6 closed

[2016-12-21 20:48] luisrudge commented on #5
Ops.. Just saw your comment @henrikdahl. I'll test now

[2016-12-21 20:52] henrikdahl commented on #5
@luisrudge Still needs work but since I can't debug myself it would be helpful to get some feedback during the process. Ideally the images properly load now. New method for CWD fetching is a little flawed and needs improvement.

[2016-12-21 21:08] luisrudge commented on #5
@henrikdahl ok. now it loads. But doesn't show up anything :(
![image](https://cloud.githubusercontent.com/assets/941075/21406074/dbb72348-c7b0-11e6-87f5-8f3aa2e4e4c2.png)

[2016-12-21 22:34] henrikdahl commented on #5
@luisrudge Images are loading now, so that's an improvement. Seems the CWD method needs fixing. I'll look at it. Thanks ✌️

[2016-12-22 09:28] stereokai commented on #4
Well, I am definitely getting icons now, but nothing more. Also if I click any of the two icons on the bottom right corner, nothing happens. When I click the folder icon, Hyper freezes and quickly quits (I'm noting this because so far, every other plugin that made Hyper freeze would just make it hang with high cpu and Hyper would just remain stuck).

[2016-12-28 10:03] princed opened #14 "Branch status is only updated on tab switch"
Is it expected behaviour?

[2016-12-28 11:08] bevacqua opened #15 "Prettify path"
Instead of `/Users/bevacqua/dev`, display `~/dev`. You can use [`tildify`](https://github.com/sindresorhus/tildify) for this

[2016-12-28 21:59] henrikdahl commented on #15
Good suggestion. I'll add it and also make it a config option. I'm not quite sure which one would be the preferred default as I personally prefer the current implementation. ✌️

[2016-12-29 02:10] henrikdahl commented on #14
Should be updating more reliably now with merged PR #17

Let me know how it works ✌️

[2016-12-29 02:23] henrikdahl commented on #15
Just pushed a version that tildifies cwd. I'll look into a config option when I'm back from vacation, still in the Caribbean ✌️

[2016-12-29 02:23] #15 closed

[2016-12-29 02:25] bevacqua commented on #15
For a simple example of how to use an option see: https://github.com/bevacqua/hyperterm-working-directory/blob/master/index.js

[2016-12-29 05:15] hemanth opened #18 "item_branch not being displayed."
![issue](https://cloud.githubusercontent.com/assets/18315/21537217/f6a2b790-cdb3-11e6-9daa-da7673dcbf89.gif)

[2016-12-29 11:48] princed commented on #14
It didn't help, unfortunately 😢

[2016-12-29 14:23] henrikdahl commented on #14
What Hyper version and what plugins are you using? ✌️

Right now it updates branch status on title change, window focus, tab switch and enter key button press.

[2016-12-29 14:25] henrikdahl commented on #18
What git version are you running?

Also what's your output running `git symbolic-ref --short HEAD` Hyper terminal? ✌️

[2016-12-29 15:39] hemanth commented on #18
[code]

[2016-12-29 15:48] henrikdahl commented on #18
So fetching branch works, appears to be an issue with cwd fetching. Does it display the proper cwd path?

Additionally. Does it work as expected if you run a clean bash terminal setup and only this plugin? ✌️

[2016-12-29 16:05] hemanth commented on #18
Works fine after terminal restart, rather than reload; Strange.

[2016-12-29 16:05] #18 closed

[2016-12-29 16:06] hemanth commented on #18
<img width="665" alt="screen shot 2016-12-29 at 9 35 38 pm" src="https://cloud.githubusercontent.com/assets/18315/21547874/c78f8428-ce0e-11e6-880e-13ae08e9b0cb.png">

[2016-12-29 16:10] princed commented on #14
Looks like it was some Hyper weirdness.
After (accidental) config reset it has started working as expected.

[2016-12-29 16:10] #14 closed

[2016-12-29 20:56] maxg7 opened #19 "Issues on Hyper Reload"
When reloading Hyper (eg. Cmd-R, not a full reload Shift-Cmd-R) the entire statusline loses context and well as the bash prompt. If you type `clear` the bash prompt comes back but not the statusline. Screenshot attached.

![screen shot 2016-12-29 at 3 52 10 pm](https://cloud.githubusercontent.com/assets/6272740/21554619/fd9fe808-cdde-11e6-91a3-3653c33cf0fc.png)

[2017-01-01 12:26] timneutkens commented on #1
@henrikdahl @caesar Landed this in Hyperline dev branch: https://github.com/NickTikhonov/hyperline/tree/develop. Really like the design of this status line + features, maybe we can combine forces? 👍 🎉 Be sure to check https://zeit.chat 😄

[2017-01-02 04:41] henrikdahl commented on #19
Fixed with @elmasse PR #20 ✌️

[2017-01-02 04:41] #19 closed

[2017-01-02 12:47] dbpolito opened #21 "[Feature Request] Split Window Status Line"
Not sure if it was intensional, but when you split the window, you share the status line across all splits, and statusline shows the one you have focusing:

![image](https://cloud.githubusercontent.com/assets/347400/21589428/c731c104-d0d8-11e6-8223-3ed7068d2b0a.png)

I would love to be able to have one status line per split... not sure if everyone prefers that or having a option to have a global o

[2017-01-02 15:41] gilbitron opened #22 "TypeError Cannot read property 'orange' of undefined"
Whenever I try and active this plugin I get the following error:

<img width="532" alt="finder - - screen shot 2 jan 2017 3 41 33 pm" src="https://cloud.githubusercontent.com/assets/203882/21592056/f2fc616c-d101-11e6-8e82-816fb633343e.png">

Any ideas?

[2017-01-02 17:06] henrikdahl commented on #22
It's because it was relying on an orange color if status line was used in conjunction with my themes. I've just pushed a version that should fix your error ✌️

[2017-01-03 01:49] henrikdahl commented on #21
I'll look into making this a config option asap. Thanks 👊

[2017-01-03 06:14] nhejazi opened #23 "limited functionality on Ubuntu 14.04"
Just recently began using this plugin with Hyper 1.0.0 and Hyper 1.0.1, and encountered an error (running Ubuntu 14.04). In particular, a sort of statusline appears (basically, just a lightly colored area at the bottom of the Hyper window), but the appropriate icons fail to display entirely. Based on a cursory look, it doesn't seem like any related issues have been reported.

[2017-01-03 06:16] henrikdahl commented on #23
Mind sharing a screen? ✌️

[2017-01-03 06:29] nhejazi commented on #23
![screenshothyper](https://cloud.githubusercontent.com/assets/8527276/21601106/f2c0218c-d13a-11e6-93aa-7fedab26a7a6.png)

[2017-01-03 06:34] henrikdahl commented on #23
Any errors in the console?

[2017-01-03 06:40] nhejazi commented on #23
Not as far as I can tell. Only thing I can think of might be interference from some other plug-in. I've included the contents of my `hyper.js` in case it might be helpful below:

[code]

[2017-01-03 07:02] henrikdahl commented on #23
Does `hypercwd` work fine for you? Because it's relying on a similar method to fetch cwd.

[2017-01-03 07:10] nhejazi commented on #23
Aw, interesting -- `hypercwd` also appears to be broken...seems this issue is due to some change in Hyper as of 1.0.0

[2017-01-03 09:11] donaldpipowitch opened #24 "cwd isn't updated when I navigate with rupa/z"
When I use [rupa/z](https://github.com/rupa/z) for navigation the cwd will not be updated.

I use Mac OS 10.12.2.

[2017-01-03 12:02] gilbitron commented on #22
Thanks but I'm now getting the same error with "yellow". Any ideas?

[2017-01-03 15:55] henrikdahl commented on #22
It appears you're lacking the config colors. What plugins are you using?

[2017-01-03 16:02] gilbitron commented on #22
@henrikdahl I removed the "colors" section from my config so I assume I'm just using the defaults.

Plugins:

[code]

[2017-01-03 16:05] henrikdahl commented on #22
It's fetching the config colors so if you've removed the default ones and don't use a theme then that's the issue.

Default

[code]

[2017-01-03 16:06] #22 closed

[2017-01-03 16:13] gilbitron commented on #22
Thanks that fixed it 👍

[2017-01-03 18:08] elmasse commented on #23
@nhejazi first, please check `lsof` is installed.

if you run the command from your terminal (not hyper) what's the output?

lsof -p ${pid} | grep cwd | tr -s ' ' | cut -d ' ' -f9-

(replace the ${pid} with your terminal pid)

If it takes a while try this:

lsof -n -p ${pid} | grep cwd | tr -s ' ' | cut -d ' ' -f9-

@henrikdahl I have experienced some issues on MacOS with my plugin that I fixed by

[2017-01-03 19:17] nhejazi commented on #23
@elmasse, thanks for pointing out `lsof` (didn't have it installed before). The output of using `lsof` in the way you specified is an error, which I've included below (note that this is with the use of `sudo`):

[code]

@henrikdahl, installing `lsof` restores most functionality to both `hypercwd` and `hyper-statusline`, though there are still some remaining issues with the Git status bar. Everythi

[2017-01-03 20:14] henrikdahl commented on #23
@elmasse Thanks for pointing that out. I'll look into it 👍

@nhejazi Try to update to latest version of statusline and it should restore the git icons ✌️

[2017-01-03 20:48] nhejazi commented on #23
@henrikdahl Confirming that everything works as expected now. Thanks for the help!

[2017-01-03 20:48] #23 closed

[2017-01-10 16:21] andrewbanchich commented on #4
@stereokai Any update on this? Will this be fixed soon? I'd love to use it on Windows but it's not working for me either.

[2017-01-10 19:38] enriquecaballero opened #25 "Icon for 'git dirty' isn't visible in macOS"
<img width="237" alt="screen shot 2017-01-10 at 2 35 19 pm" src="https://cloud.githubusercontent.com/assets/7918284/21821644/5a198212-d742-11e6-897a-3f74b2541f6f.png">
Also, none of the git stuff seems to work for me in Ubuntu

[2017-01-10 19:44] henrikdahl commented on #25
Could you try enforce an update of hyper-statusline by commenting it out, restarting hyper and then comment it back in and restart hyper. Does that fix the git dirty visibility? ✌️

[2017-01-11 04:27] enriquecaballero commented on #25
Nope, still nothing :-S

[2017-01-11 04:29] henrikdahl commented on #25
What's in console? Can you inspect the element with dev tools to see what icon it's referencing to?

[2017-01-11 04:33] enriquecaballero commented on #25
Found it.
<img width="353" alt="screen shot 2017-01-10 at 11 31 59 pm" src="https://cloud.githubusercontent.com/assets/7918284/21835693/133856ca-d78d-11e6-91db-79d5c8466c6e.png">
Problem seems to be with the `background-color` property. Once I set it to 'grey', the dirty icon was visible.

[2017-01-11 04:36] henrikdahl commented on #25
Did you by any chance remove your colors in your hyper.js config? Seems it's having issues fetching the config color yellow.

[2017-01-11 04:39] henrikdahl commented on #4
@andrewbanchich I've been on a long vacation in the Caribbean so I've lacked time. But I'm gonna catch up with every issue including this. I was close to pushing a fix before I went ✌️

[2017-01-11 04:39] enriquecaballero commented on #25
Here's what my `~/.hyper.js` config looks like
[code]

[2017-01-11 04:40] henrikdahl commented on #25
Did you try just running hyper-statusline to see if it's related to another plugin?

[2017-01-11 04:42] enriquecaballero commented on #25
That did it. It doesn't seem to play well with hyperterm-monokai.

[2017-01-11 04:44] henrikdahl commented on #25
Just checked `hyperterm-monokai` and it's method for applying the colors to the config appears to break my fetching.

[2017-01-11 04:55] andrewbanchich commented on #4
@henrikdahl Thank you!

[2017-01-11 04:55] #25 closed

[2017-01-11 16:29] chris37879 opened #26 "Option to change font size"
Could we get an option to change the font size of the text? My eyes aren't great these days and being able to make the text bigger would be nice.

[2017-01-12 06:52] henrikdahl commented on #26
Sure! I'll add it asap ✌️

[2017-01-12 11:41] vinkla commented on #24
I'm also having this issue. I'm using the latest version of macOS and Hyper.

[2017-01-12 12:11] henrikdahl commented on #24
It's working for me. Could you give a little more details? ✌️

[2017-01-12 12:12] vinkla commented on #24
When I run `z <path>` it doesn't update until next command. Something else I can share?

[2017-01-12 12:12] henrikdahl commented on #24
How did you install it?

[2017-01-12 13:36] henrikdahl commented on #1
Just committed a version that now supports pull/push ✌️

[2017-01-12 13:36] #1 closed

[2017-01-12 16:53] #13 closed

[2017-01-12 16:54] henrikdahl commented on #24
@donaldpipowitch still having this issue?

[2017-01-12 16:59] henrikdahl commented on #4
So I've tried multiple methods and the only one that ended up partially working was relying on titles but it was unreliable and afaik Windows doesn't even show the cwd in the title on most setups anyways.

I heard Hyper might expose a session value for CWD so I'll wait for that.

If you got any other ideas, please let me know. I tried all I can think of ✌️

[2017-01-12 16:59] #4 closed

[2017-01-13 17:09] chris37879 commented on #26
Thanks!

[2017-01-13 17:32] henrikdahl commented on #26
Just pushed a commit with this feature. You can read about the config option in docs ✌️

[2017-01-13 17:32] #26 closed

[2017-01-13 17:42] henrikdahl commented on #26
I might expand upon it later so the icons and size of the statusline increases with the font size but unless you make it huge it shouldn't be an issue.

[2017-01-16 22:48] henrikdahl commented on #9
@jankuca I tried but my RegEx game is too weak. SED is easier because each line comes on its own but with exec it comes in one string. If you manage the RegEx feel free to PR and I'll merge it ✌️

[2017-01-16 22:48] #9 closed

[2017-01-17 07:14] donaldpipowitch commented on #24
@henrikdahl I tested it with 1.6.3 (and hyper@1.1.0), but it doesn't seem to work for me :(

[2017-01-17 10:29] alanshortis opened #28 "[Bug] Issues with appearance when scrolling"
![i 5](https://cloud.githubusercontent.com/assets/3787454/22016867/aec51c24-dc9f-11e6-9bb3-c5342f0fc52f.png)

This happens when scrolling back up the window after running a process with a lot of output.

[2017-01-17 18:19] henrikdahl commented on #28
@alanshortis does this only occur when `hyper-statusline` is installed? because it sure looks like it's a hyper thing ✌️

[2017-01-17 18:27] henrikdahl commented on #24
@donaldpipowitch

* Bash or zsh?
* Clean bash/zsh besides Z?
* Installed Z with antigen?
* Only running `hyper-statusline` as plugin for Hyper?

Basically we have to identify why your Z doesn't work with `hyper-statusline` and mine does ✌️

[2017-01-17 20:54] codekult opened #29 "[Feature request] Add option to change status line font"
It would be great if you can adjust the status line font to match with the current font used on terminal.

I would like to know if this is currently possible.

Regards.

[2017-01-17 21:04] henrikdahl commented on #29
Just pushed a version that enables you to change fontFamily as a config option.

Enforcing the same font as terminal give less freedom, some might want to use a different font.

You can read about how to set the config option in README ✌️

[2017-01-17 21:08] henrikdahl commented on #29
Appears GitHub is down, my latest commits don't show up.

[2017-01-18 01:38] #29 closed

[2017-01-18 09:31] alanshortis commented on #28
Hi. I didn't see this issue before installing `hyper-statusline`, and it stopped after removal.

Having just tried it again, I get the same issue, BUT it can be solved by restarting Hyper entirely, not just Reload or Full Reload. This is the same when adding/removing any plugin, so I'll get this logged with Hyper directly.

[2017-01-18 09:31] #28 closed

[2017-01-18 12:25] donaldpipowitch commented on #24
Thank you for the effort :)
- bash
- Tested with and without a clean bash_profile besides z.
- I don't know antigen :/ I just `source` the `z.sh`.
- Tested with just 'hyper-statusline' and with 'hyperterm-ayu' as plugins.

[2017-01-18 13:04] henrikdahl commented on #24
@donaldpipowitch mind trying Z with zsh instead? ✌️

[2017-01-18 13:47] donaldpipowitch commented on #24
Looks like `$ exec zsh` and `$ source ~/z.sh` works 🤔 Hmm... time to switch to zsh? 🤔

[2017-01-18 14:02] henrikdahl commented on #24
I wonder if this is a Z issue since it works with zsh 🤔

[2017-01-18 14:09] henrikdahl commented on #24
@vinkla using bash as well?

[2017-01-18 14:20] vinkla commented on #24
@henrikdahl yeah, I'm using Bash.

[2017-01-26 00:41] nhejazi opened #30 "loss of functionality after switch to zsh"
I've been using this plugin with Hyper (v1.1.0 currently), recently after a switch to zsh on macOS, the functionality seems to go dead. That is, I've set Hyper to use bash as the default shell, and the plugin works fine; when I switch over to zsh, the plugin stops working. Is zsh not supported? I'm having trouble identifying the source of this error.

[2017-01-26 00:42] henrikdahl commented on #30
It supports zsh, I use zsh myself. Could you give a little more information about your entire environment? ✌️

[2017-01-26 01:18] nhejazi commented on #30
Ok, good to know. So definitely something on my end then. Basically, I fire up Hyper (v1.1.0) and the plugin works fine when I am in a git repo. If I switch over to zsh, by simply typing zsh, all aspects of the plugin stop working (it doesn't track directory or whether the directory is a git repo at all). I'm happy to provide more information, just not sure what exactly might be relevant. Thanks i

[2017-01-26 02:39] henrikdahl commented on #30
Does it work if you actually start with zsh instead of switching in shell?

[2017-01-26 04:22] nhejazi commented on #30
Setting `shell: zsh` fixed the problem. Is there some way to start a zsh session and still have the plugin work? I'm not sure what the cause of this error is.

And thanks for the tip re: `hyper-snazzy` and `hyper-statusline`; I've adjusted my `hyper.js` accordingly

[2017-02-01 06:16] hugomd opened #31 "Git SSH support"
It would be nice if clicking the branch name took you to the branch if the remote is git via SSH rather than HTTPS.

[2017-02-03 22:02] tylerfowle opened #32 "hyper-statusline causes index.lock errors in large repos"
when in a very large repo (8+gigs), hyper-statusline will interfere with git commands and cause a lock

`fatal: Unable to create '<path to repo>/.git/index.lock': File exists.
If no other git process is currently running, this probably means a git process crashed in this repository earlier. Make sure no other git process is running and remove the file manually to continue.`

[2017-02-04 23:00] henrikdahl commented on #31
@hugomd could you elaborate?

[2017-02-04 23:23] hugomd commented on #31
@henrikdahl If I `cd` into a git repository, the bottom right hand corner gives a link to the branch I'm on: ![](http://hu.md/9mj1.png)

This works fine if I've cloned using HTTPS, and opens my browser and takes me to the repository. If I've cloned using SSH then it opens a new terminal window rather than opening the browser.

[2017-02-04 23:28] henrikdahl commented on #31
@hugomd are you saying it currently opens a new terminal window when you've cloned with SSH or that it's the expected behavior you'd like to see?

[2017-02-05 10:37] hugomd commented on #31
@henrikdahl It opens a new terminal window when I've cloned with SSH and click on `master`, but it would be great if it could open the repository in the default browser — not sure if that's feasible or not though.

[2017-02-05 11:17] henrikdahl commented on #31
@hugomd mind sharing how your remote url looks?

[2017-02-13 04:56] brandonweiss opened #33 "dirty and arrows indicators not showing"
<img width="269" alt="screen shot 2017-02-12 at 8 43 25 pm" src="https://cloud.githubusercontent.com/assets/4727/22871257/0c27e08a-f164-11e6-9bd8-e0df6f5834ff.png">

I'm on the latest version of Hyper and I disabled other plugins, so I don't think it's another one interfering. There's nothing in the console.

<img width="725" alt="screen shot 2017-02-12 at 8 47 20 pm" src="https://cloud.githubuser

[2017-02-13 05:04] brandonweiss commented on #33
Oh, apparently I have this in my config:

[code]

If `colors` is supposed to be an object instead of an array then that seems like that's the problem. Although if I comment it out it seems to stop hyper from loading. So weird… I have no idea where this came from…

[2017-02-13 05:15] brandonweiss commented on #33
Ah, I generated a new, default config file and it has this in it:

[code]

I guess the format must have changed but they didn't migrate the setting. Updating the `colors` config to that fixed the problem.

I'm going to close this, but feel free to reopen if you want to handle this case! 😄

[2017-02-13 05:15] #33 closed

[2017-02-14 13:21] henrikdahl commented on #31
It should already do what you're suggesting, which is why it would be useful to see what your remote url looks like. I'm closing this for now ✌️

[2017-02-14 13:21] #31 closed

[2017-02-14 13:25] henrikdahl commented on #24
It appears to be a Z issue and not related to `hyper-statusline` so I'm closing this ✌️

[2017-02-14 13:25] #24 closed

[2017-02-14 13:29] henrikdahl commented on #30
@nhejazi after some testing this is surely related to hterm or Hyper itself so I'm closing this for now ✌️

[2017-02-14 13:29] #30 closed

[2017-02-14 22:38] hugomd commented on #31
@henrikdahl Totally missed this, sorry! It seems to work for GitHub, but not GitLab — I'll look into it myself and see if I can work it out myself and maybe make a PR.

[2017-02-14 22:45] hugomd commented on #31
@henrikdahl Found it. Issue is caused by [L167](https://github.com/henrikdahl/hyper-statusline/blob/master/index.js#L167).

If the git remote uses any port other than 22 it won't work. E.g.

[code]

Expected output should be:
`https://my.hosted.git/hugo/myrepo`
Output causing issue is currently:
`ssh://my.hosted.git:1022/hugo/myrepo`

[2017-02-15 01:54] henrikdahl commented on #31
How come your remote includes `ssh://`? It should work without it and GitLab doesn't add it by default.

Input
<img width="568" alt="skarmavbild 2017-02-15 kl 02 54 11" src="https://cloud.githubusercontent.com/assets/1430576/22957656/0fe56252-f32a-11e6-9d1e-aed0242d2b44.png">

Output
<img width="308" alt="skarmavbild 2017-02-15 kl 02 54 30" src="https://cloud.githubusercontent.com/assets/1430576/2

[2017-02-15 02:45] hugomd commented on #31
I'm running a self-hosted instance of GitLab, which uses a different port. When you do that, GitLab pops ssh:// in front of it.

[2017-02-15 03:14] henrikdahl commented on #31
So I'm not sure how to solve this. `ssh://` part is easy since the regex can simply check for any character before the `@` symbol instead of specifically `git`.

However the port part is identical to the username part.

`ssh://git@my.hosted.git:1022/hugo/myrepo.git`
`git@github.com:henrikdahl/hyper-statusline.git`

Since a username can be numbers as well, there's really no way to identify which it

[2017-02-15 03:18] hugomd commented on #31
You could check to see if it starts with `ssh://`, and if it does then remove what's immediately after the `ssh://git@my.hosted.git:`

There might be a simpler way though

[2017-02-15 03:19] henrikdahl commented on #31
Someone could have `ssh://` even though they don't have a port, it would mess up their URLs so it's not fully reliable.

[2017-02-15 03:28] hugomd commented on #31
@henrikdahl That's true — I'm not sure how I'd recommend fixing it then. I'll try changing my GitLab port to 22 for now! 👍

Thanks for dealing with the issue!

[2017-02-15 22:40] hugomd commented on #31
@henrikdahl Is the port always followed by a `/`? If so you could regex select a number followed by a `/`, while still allowing the previous usage.

[2017-02-15 22:42] henrikdahl commented on #31
@hugomd Problem is that a username could be numbers and follow the exact same pattern.

[2017-02-15 22:43] hugomd commented on #31
@henrikdahl I understand that but `/` isn't allowed in usernames, and separates the two.

[2017-02-16 00:45] brandonweiss opened #34 "Status line positioning/overlay issue with 1.2.0"
It looks like there might now be a positioning/overlay issue in the latest version of Hyper (1.2.0).

<img width="730" alt="screen shot 2017-02-15 at 4 44 28 pm" src="https://cloud.githubusercontent.com/assets/4727/23002166/2143ec2a-f39e-11e6-81d4-006bf7875719.png">

[2017-02-16 00:50] henrikdahl commented on #34
Yeah, it also broke my `hyper-tabs-enhanced` plugin. I'll update asap ✌️

[2017-02-16 01:02] brandonweiss commented on #34
❤️❤️❤️

[2017-02-16 01:05] paul-russo commented on #34
My PR #35 corrects this.

[2017-02-16 01:56] henrikdahl commented on #34
Class naming convention change was unintentional. It's going to be reverted and most likely end up being 1.2.1 ✌️

[2017-02-16 02:15] henrikdahl commented on #34
https://github.com/zeit/hyper/releases/tag/1.2.1

[2017-02-16 03:58] henrikdahl commented on #34
@brandonweiss Should work as expected on 1.2.1.

Let me know if you have any issues.

[2017-02-16 20:40] TrevorBurnham opened #36 "No git status information shown while on detached commit"
First off, let me say that I've been enjoying hyper-statusline very much. It's a great addition to my Hyper experience! 🎉

One request: Currently, when you're on a git branch, hyper-statusline shows the branch name in the lower-right corner. But if you check out a commit that isn't the head of a branch, the corner is blank. I'd enjoy seeing the SHA of the current commit there.

[2017-02-17 08:30] henrikdahl commented on #36
@TrevorBurnham Thanks ❤️

I've added your request in the latest commit. It should now display the SHA of current commit in detached checkout as well.

[2017-02-17 08:30] #34 closed

[2017-02-17 08:32] henrikdahl commented on #32
@tylerfowle

I'm not sure what the best approach to solve this issue is. I could check if index.lock exists and based on that delay the call, but it doesn't feel ideal. Any suggestions? ✌️

[2017-02-17 08:35] #36 closed

[2017-02-17 13:24] TrevorBurnham commented on #36
👏 👏 👏

[2017-02-17 15:51] chrisdrackett opened #37 "current folder shows more than just current folder"
I'm getting something like the following:

https://cl.ly/3R2Q2S2K1M0x

[2017-02-17 15:54] henrikdahl commented on #37
Interesting. Can I see your `.hyper.js` and your `.zshrc`?

[2017-02-17 20:42] tylerfowle commented on #32
@henrikdahl unfortunately no, this is a little beyond me. not exactly a direct fix, but maybe an option to turn on/off the git status would be helpful.

[2017-02-19 21:35] apopek opened #38 "Not working on windows"
I'm working on Windows 8.1
I'm in directory with github .git folder and nothing showing, no error messages in console

Hyper 1.2.1

![windows](https://cloud.githubusercontent.com/assets/21204503/23106828/b9c65070-f6f3-11e6-8242-6bad233af960.jpg)

[2017-02-19 22:05] chrisdrackett commented on #37
I actually removed both of these files while debugging and I get the same behavior.

[2017-02-20 00:59] henrikdahl commented on #37
I can't be much help unless I get more information ✌️

[2017-02-20 01:01] henrikdahl commented on #38
Sorry doesn't currently support Windows. Hyper 1.2.0 was expected to bring Windows support by setting CWD but it doesn't. There's still no efficient & consistent method to fetch CWD on Windows.

[2017-02-20 01:19] apopek commented on #38
So please add this information in README.md that windows is not supported, thanks.

[2017-02-20 02:04] henrikdahl commented on #38
I'll look into adding it to Hyper myself through a PR ✌️

I'll leave this open until I either found a solution or added a disclaimer in readme.

[2017-02-20 02:15] chrisdrackett commented on #37
Yeah, just saying I pulled both those out of the running without luck. Where exactly is what is being displayed coming from?

[2017-02-20 02:45] henrikdahl commented on #37
It's fetching CWD through this command:

[code]

For some reason it appears to be returning false CWD which to me sounds impossible considering it should affect the entire terminal behavior 🤔

[2017-02-21 17:53] chrisdrackett commented on #37
hm, what is pid in this case? (I'm in no way a terminal expert). When I type `pwd` I get the expected result, not sure if this is too simplistic for what this package is trying to do :D

[2017-03-02 01:16] chrisdrackett commented on #37
ok, I think I've figured this out. The issue is that my username is `cwd` so the grep is finding *everything*. Not sure if there is an easy fix, and this only really affects me and maybe a very small number of users...

[2017-03-03 20:08] unluisco opened #40 "padding inconsistent with hyperborder plugin"
Hi, without the hyperborder plugin, the padding is fine, but when I activate that plugin, the botton padding is affected:
![hyper 2017-03-03 15-05-18](https://cloud.githubusercontent.com/assets/6332263/23567186/1aa7fbb8-0023-11e7-99ff-f1b49aee5baa.png)
![hyper 2017-03-03 15-06-36](https://cloud.githubusercontent.com/assets/6332263/23567188/1f360710-0023-11e7-974d-c2304fc82c40.png)
By the way, this

[2017-03-03 20:57] henrikdahl commented on #40
You're right. This will be adressed in future versions.

Been working on a PR for Hyper to expose the `hyper_main` properly so that the `hyper-statusline` footer can reside inside there instead of the root. That will also fix the padding issue with `hyperborder` and any similar plugins with related issues.

I'll keep this open until it's been merged ✌️

Thanks for your support!

[2017-03-08 13:48] jnsn commented on #38
According to https://github.com/zeit/hyper/pull/1412, the "cwd" was added to the redux session, on the 15th of January.

My guess is that it's available in current releases then?

[2017-03-08 15:09] henrikdahl commented on #38
Sadly it doesn't do anything. Confirmed in the commit:
https://github.com/zeit/hyper/commit/232295a195141810390113ff2d9e04efa737c4e3

[2017-03-09 23:40] henrikdahl commented on #40
Latest release fixes the issue with padding ✌️

[2017-03-09 23:40] #40 closed

[2017-03-10 19:36] derekr opened #41 "Allow customizing bg/fg colors based on cwd"
I like status line because I can keep my prompt small, but sometimes I forget what directory I'm in. It's simple enough to glance down and read the path, but it might be cool to color code the bar based on cwd (or any arbitrary condition via a configuration callback?). Maybe even color the git branch portion separately so you can glance and see if you're on the master branch.

Down to work on this

[2017-03-10 21:59] derekr opened #42 "Update cwd on `cd`"
Looks like it only updates on session based events. I'd expect the cwd to update on changing directories as well.

[2017-03-10 22:01] henrikdahl commented on #42
It should. It's not working for you? ✌️

[2017-03-10 22:04] henrikdahl commented on #41
Similar to powerline you mean? It would definitely have to be an option if implemented ✌️

[2017-03-10 22:29] derekr commented on #42
Yeah using zsh + hyper 1.3.1 I'm not seeing an update until I trigger a session related event like double clicking the current tab or opening a new tab and navigating back.

![statusline](https://cloud.githubusercontent.com/assets/22249/23815662/eda3e23c-059d-11e7-89b0-d99caa98d73e.gif)

config

[code]

[2017-03-10 22:31] derekr commented on #41
Oh yeah for sure. Was curious if you'd even want it as an actual feature or if you wanted to keep status line simple.

[2017-03-10 22:57] henrikdahl commented on #42
This commit was introduced in Hyper 1.3.0 https://github.com/zeit/hyper/commit/fe6e2977bda9f6320629d3fc4453f7f87ab398f0 which affected `hyper-statusline` code that looks for cmd closure.

So `hyper-statusline` was updated accordingly.

Make sure you're running `>= 1.3.0` and latest `hyper-statusline` version as well ✌️

[2017-03-10 23:06] aryzing commented on #42
I'm on hyper 1.3.1, and I'm having the same issue: only updating directory on click events. I'm on the `latest` version of statusline too.

[2017-03-10 23:09] henrikdahl commented on #42
@aryzing mind trying the debug branch?

[2017-03-11 08:44] aryzing commented on #42
Sure, I'll try it out. I'll need instructions though...

[2017-03-11 13:35] henrikdahl commented on #42
@aryzing you can just clone the fork into your `~/.hyper_plugins` and put `hyper-statusline` in your local part of your `.hyper.js` config.

[2017-03-11 16:19] aryzing commented on #42
When moving from `~` to the dir that has my work, these are all the charCodes emitted:
[code]
Which correspond to the keystrokes `cd<tab>wo<tab>tq<tab><enter>`

Hope that helps!

PD. Also, a more detailed description of what I did in case anyone else wants to try
[code]
Then edited ~/.hyper.js and moved `'hyper-statusline'` from `plugins` to `localPlugins` array, and restarted.

[2017-03-11 16:21] henrikdahl commented on #42
That's odd. Your enter charCode is 13 while mine is 27 🤔

[2017-03-11 16:40] henrikdahl commented on #42
@aryzing I just pushed a new version to debug, would you mind trying it? Thanks!

It's using a more reliable method to check for enter key instead of charCode. Console log should output of the enter key is true or false.

[2017-03-11 16:46] henrikdahl commented on #41
I'd sure like to keep `hyper-statusline` clean and simple but I don't mind elegant additions that match the existing base.

[2017-03-11 17:24] aryzing commented on #42
Sure, give me a few minutes

[2017-03-11 17:30] aryzing commented on #42
Btw, that `10` is the dev tools bundling up a bunch of `console.log`s

[2017-03-11 17:32] henrikdahl commented on #42
Thanks for your help! Just pushed it to master ✌️

[2017-03-11 17:32] #42 closed

[2017-03-14 20:52] mgrip opened #44 "decorateHyper should pass through custom children"
From the [hyper docs](https://hyper.is/#decorating-components):

[code]

It looks like the decorateHyper function currently overrides this.props.customChildren rather than appending to it.

[2017-03-16 04:45] borwahs commented on #13
@henrikdahl & @caesar -

I actually implemented a rough version of this feature a while back.

I happened to work on it (unknowingly that this request was here) a bit around the same time but got busy with another project and never posted anything.

Here is what it currently looks like if you click the branch name:

<img width="363" alt="screen shot 2017-03-16 at 12 40 09 am" src="https://cloud.gi

[2017-03-23 10:28] bboure opened #45 "Configure the git remote repository"
It would be nice to make the git remote configurable. Possibly, on a per-directory-basis
https://github.com/henrikdahl/hyper-statusline/blob/master/index.js#L167

e.g: I want to be able to use `upstream` instead of `origin`

[2017-03-23 20:09] jylertones commented on #32
I get this same error on a 2.1GB repo. Strange thing is I only see the error on some commands. I don't know if this helps at all, but `git pull` and `git push` work fine, but often `git stash` and `git commit -m` fail with this error.

I would love to help - I've been walking through the middleware events that Hyper exposes and I don't see any obvious events that could better trigger the dirty che

[2017-05-06 03:47] Stanzilla commented on #38
@henrikdahl any news here?

[2017-05-15 19:39] postromantic commented on #38
`lsof -p {pid}` can be replaced with `handle -p {pid}` for windows.
But there is a bug in Hyper: pid is always incorrect on windows.  It's node-pty issue: https://github.com/Tyriar/node-pty/issues/67

[2017-05-16 20:50] Stanzilla commented on #38
@postromantic @henrikdahl Hyper is now on 0.6.4 of node-pty

[2017-05-19 15:48] postromantic commented on #38
@Stanzilla, thanks. i've tried to use `handle` with latest version, but it's not as good as i expected.
The issues are:
1. `handle` returns multiple file handles. for `bash` it's ok (cause cwd is always first handle), but for `cmd` it's random file handles so no way to pick the right one. `powershell` doesn't expose cwd as file handle at all
2. `bash` on windows usually run with parent process (fo

[2017-05-19 15:54] Stanzilla commented on #38
@postromantic do you have the code for that somewhere?

[2017-05-19 16:11] postromantic commented on #38
@Stanzilla sure
https://gist.github.com/postromantic/b0456349819aa3031992999137f42167
https://gist.github.com/postromantic/47017c4aebca98e4bfb24b65737de4ba

[2017-05-20 17:47] macklinu commented on #45
Good idea! I was curious about this and found a solution - will open a PR. 👍

[2017-05-23 07:41] ELLIOTTCABLE opened #50 "Crash if the user's config doesn't contain the `colors` array"
(See details at henrikdahl/hyper-tabs-enhanced#19.)

[2017-05-25 09:42] JackWReid commented on #32
I had to remove `hyper-statusline` for this reason. Perhaps you could check for a lock before polling git like you suggest?

[2017-05-28 09:45] Nicholaiii commented on #38
Waiting eagerly for this! hyper-statusline is so sexy, and I can get rid of cwd clutter in my terminal.

[2017-05-28 19:23] dougd commented on #38
I've submitted a PR (#51) for my attempt to fix the issue on Windows. It is not 100% perfect but works good enough for me - and better than the existing solution which doesn't work on Windows at all :-)

[2017-05-30 20:17] dougd commented on #4
See my PR #53 for another attempt at getting the cwd on win32. This again is a work around until it is properly supported by Hyper.

[2017-06-04 07:58] dotlouis opened #54 "prompt won't appear on linux"
Hi,
I just installed `hyper-statusline` and when I launch Hyper, my prompt won't appear and it's impossible for me to input anything into the terminal.

![empty-terminal](https://cloud.githubusercontent.com/assets/1891109/26759901/edd90d02-490b-11e7-9126-e5faa81da6d8.png)

In the console i have the following error (which doesn't appear when I remove the plugin)
`Uncaught TypeError: Cannot read pro

[2017-07-15 12:26] henrikdahl commented on #41
Still open to merge this if anyone feel like contributing it. Closing for now because of inactivity ✌️

[2017-07-15 12:26] #41 closed

[2017-07-16 17:04] #37 closed

[2017-07-17 10:04] henrikdahl commented on #50
Sorry for delay!

Fixed in latest commit ✌️

[2017-07-17 10:04] #50 closed

[2017-07-18 14:06] henrikdahl commented on #54
Is this still an issue? ✌️

[2017-07-19 02:10] #44 closed

[2017-07-19 02:11] #21 closed

[2017-07-19 02:13] #45 closed

[2017-07-19 08:20] dotlouis commented on #54
@henrikdahl I just checked with hyper 1.3.3 and latest (npm published) hyper-statusline and I still have the same issue :/

[2017-07-19 09:49] henrikdahl commented on #54
@dotlouis Could you provide your `.hyper.js` config and more specifically which type of Linux? ✌️

[2017-07-19 19:24] PandawanFr commented on #38
Wait, can't you easily get the CWD with the `chdir` command?

[2017-07-19 19:35] Stanzilla commented on #38
You can but good luck trying to use that in a script.

[2017-07-23 17:40] dotlouis commented on #54
Of course, I run hyper on Ubuntu 17.04 (zesty) and here is my `.hyper.js` config. Notice that I commented out any other plugin or extensions, but the problem still persists)

[code]

[2017-07-24 13:00] inkubux opened #55 "Git info not displaying in subfolder"
The git repository detection is flawed.

My git repo does not have .git files in subfolder only in the main folder.

A better way to detect would be:

git rev-parse --is-inside-work-tree

[2017-07-26 04:34] doughsay commented on #54
@dotlouis are you by chance using the fish shell?  Hyper doesn't work with fish on ubutnu 17.04.  I have the exact same error in the console because of fish, not because of this plugin.

See issue here: https://github.com/zeit/hyper/issues/1963

[2017-07-26 09:28] dotlouis commented on #54
Yes I do use the fish shell, thanks for the heads up!
But this error only appear when I activate this plugin which is weird. I'll close the issue since it's not related to hyper-statusline. I will follow zeit/hyper#1963

[2017-07-26 09:28] #54 closed

[2017-08-04 11:54] henrikdahl commented on #32
Took another look at this.

Problem is basically that `hyper-statusline` performs a dirty check that can take a long time in larger repos which may cause a git index lock when trying to perform other git commands simultaneously.

In the latest commit I changed the dirty check to ignore untracked files, which should speed it up immensely and solve the issue for some of you.

Another solution could

[2017-08-04 16:09] xeroxoid commented on #55
Same here. Great plugin by the way!

[2017-08-09 15:04] JoeDuncko opened #57 "Statusline does not update when directories switch via `workon` command"
I'm using `virtualenv` for a project. When I activate my virtualenv with `workon`, I have it set up that it should change my working directory. This change is not reflected in the statusbar. Here's a gif of it occurring. Any ideas?

![hyperstatusbarnotworking](https://user-images.githubusercontent.com/6749768/29128688-8bca3ed6-7cf2-11e7-9951-f0b7f5340788.gif)

[2017-08-21 17:58] Stanzilla commented on #38
Does this help? https://github.com/Tyriar/node-pty/commit/d33cc1c6d904aa870dd2769f6176282d07bd6ee7

[2017-09-01 04:28] SidKwok opened #60 "statusline got wrong color."
this is my plugins
[code]

BUT it got a statusline like this:

<img width="704" alt="f9116a602b6ad8e5b0977696cd44cf72" src="https://user-images.githubusercontent.com/13268747/29955253-f3b5177a-8f10-11e7-8896-ecf4af702cd2.png">

hyper: 1.4.2

[2017-09-01 05:01] SidKwok commented on #60
problem solved,
theme should be placed above statusline.
[code]

[2017-09-04 17:23] kajka commented on #60
This trick doesn't work for extensions that are being developed (local plugins) :(.

[2017-09-05 18:24] brandonweiss opened #61 "Hyper@1.4 breaks styles"
I'm pretty sure some CSS selectors must have changed or something… I updated to the latest version of Hyper and the status line looks like this now.

<img width="887" alt="screen shot 2017-09-05 at 11 23 25 am" src="https://user-images.githubusercontent.com/4727/30076098-a99b0284-922c-11e7-9c2a-894c94f6683e.png">

[2017-09-06 11:06] dougd commented on #38
Looks promising - how do we get that available?

[2017-09-21 23:00] ELLIOTTCABLE opened #62 "Seems to be broken on Canary (2.0.2)"
When initially launched on 2.0.2, this plugin seems to have no effect at all:

<img width="844" alt="screen shot 2017-09-21 at 17 55 00" src="https://user-images.githubusercontent.com/200/30722395-9e2397aa-9ef6-11e7-9d61-72158e7aec60.png">

… but if I *change* the `hyperStatusLine` configuration, and hit save in my editor, the status-line suddenly appears (without, however, respecting the configur

[2017-09-21 23:22] ELLIOTTCABLE commented on #13
@borwahs this looks amazing! Would certainly be nice and simple for new Git users, I'd love to be able to heartily suggest this!

----

On a related note, though, as much as I love it … this seems a bit ‘heavy’ to be in `hyper-statusline` itself.

Given that “a status line” is such a thing of taste, and has *so* much powerful promise (Look at the number of ‘modules’ for things like Powerline or Po

[2017-09-25 17:01] 416serg opened #63 "Not showing git stuff on Hyper 1.4.7 with hyper-statusline 1.7.3"
Am I missing something? 😢

![screen shot 2017-09-25 at 12 56 08 pm](https://user-images.githubusercontent.com/3760543/30820955-93ed1222-a1f1-11e7-878a-e2df32ceaafb.png)

[2017-09-26 15:51] kajka commented on #61
@brandonweiss I solved this problem.

1. I relocated plug-in from directory `node_modules` to `local`.
2. I modified the configuration in the `.hyper.js` file  accordingly.
3. I installed missing modules (`tildify after-all-results`) for hyper-statusline to `node_modules` directory (via yarn/npm).

Looks like it's working right now again properly.

![screen shot 2017-09-26 at 17 44 11](https://use

[2017-09-27 23:10] NoSoyTsundere opened #64 "Request - Make directory and git branch click events optional"
Add an option to let the user choose from what they want to do if they click on the directory or branch name.

Why? Some users may accidentally click on the directory or branch name and the plugin automatically open the directory or the browser.

Examples:

[code]

`none` should be enough if copy to clipboard is not possible.

[2017-10-02 23:13] brandonweiss commented on #61
@kajka By “solved” you mean you figured out how to temporarily make it work for you locally, yes? Do you know what the actual problem/solution is? Like is it just some undeclared dependencies?

[2017-10-04 15:33] lukemoderwell commented on #63
Seeing the same thing as well... 😞

[2017-10-13 12:20] balazsorban44 commented on #62
I have the same problem

[2017-10-13 16:29] aguzubiaga commented on #55
Same problem. Can I send a PR?

[2017-10-19 21:15] zakiaziz opened #65 "Does not show statuses when SSH'd into another server"
After SSH-ing into a remote server and `cd`-ing into a directory that is a git repo status line does not detect that I'm in a git repo and does not show the branch I'm working on.

[2017-10-21 12:53] sogasg opened #66 "The directory path does not update until one command after the directory change"
When I cd into a directory the status line path does not update before I execute the next command.

Like this:

[code]

[2017-10-22 01:46] simonhaenisch commented on #62
@ELLIOTTCABLE are you sure that the text color isn't just black (check by hovering the lower left corner)? cause that's my issue (not on canary though).

[2017-10-23 07:02] simonhaenisch commented on #62
![image](https://user-images.githubusercontent.com/3410759/31875965-d4a218ac-b82c-11e7-8051-c12ea9a9706c.png)

but when I change hyper's background color to transparent (`backgroundColor: 'rgba(0, 0, 0, 0.5)'`), i can actually (barely) see that the bar is there:

![image](https://user-images.githubusercontent.com/3410759/31875989-ef5780e2-b82c-11e7-9f4e-b1f88788f397.png)

[2017-11-06 15:54] kajka commented on #61
No I don't now what actual problem is. Unfortunately, the solution is not permament :(.

[2017-11-13 01:07] joaocunha commented on #34
Same thing happens when used together with [Hyperline](https://github.com/Hyperline/hyperline).

![image](https://user-images.githubusercontent.com/766837/32705717-2ac4e620-c7fe-11e7-9070-697ae79b9703.png)

[2017-11-16 18:05] joshsylvester commented on #63
👍  same issue.   😢

hyper 1.4.8, hyper-statusline 1.7.3

[2017-11-29 12:29] 5c077yP opened #67 "Feature Request: Show "git behind""
Hey,

thanks for this great hyper plugin. Just wondering if you'd be interested in adding an indicator for the amount of commits the current branch is behind the tracked branch?

[2017-12-05 01:14] #55 closed

[2017-12-05 01:15] henrikdahl commented on #55
@xeroxoid Thanks!

Merged, sorry for the delay ✌️

[2017-12-05 01:49] mattdarveniza commented on #55
I literally just came here to raise this issue. Great timing 🎉

[2017-12-05 01:56] henrikdahl commented on #60
This is more of a Hyper issue. Since `statusline` fetches colors from active theme, that theme needs to be loaded before it. That's the way Hyper handles plugins ✌️

[2017-12-05 01:56] #60 closed

[2017-12-05 01:58] henrikdahl commented on #65
Since I don't personally use SSH I'm not sure how to solve this without looking into it. Maybe someone that does could PR? ✌️

[2017-12-05 02:53] henrikdahl commented on #61
Are you sure `hyper-statusline` is listed after your theme in plugins? ✌️

[2017-12-05 20:48] kajka commented on #61
Unfortunately no. I use my own theme, which is located in `localPlugins`. Indeed, this can be an issue; when I add different theme under plugins section, `hyper-statusline` plugins works fine!

[2017-12-06 00:34] henrikdahl commented on #61
There's really not much that can be done here by `hyper-statusline` since that's how Hyper handles plugins. `hyper-statusline` cannot fetch theme colors unless the theme has already been loaded.

[2017-12-06 17:43] WestonThayer commented on #63
Same here :(

[2017-12-11 21:01] brandonweiss commented on #61
@henrikdahl Jaysus, that was the problem? I had no idea themes needed to be loaded before plugins… that's so brittle. How are people not constantly running into this problem?

[2018-01-12 10:51] richrace opened #69 "Hyper Canary - Slow stream from running programs"
Setup:
![screen shot 2018-01-12 at 10 50 22](https://user-images.githubusercontent.com/1273965/34871673-6b8c028a-f786-11e7-8f20-809491f58c15.png)

Issue:
Visible slow down with streaming output from command or log files.

Test:
[code]

[2018-01-20 18:02] mighty-pirate opened #70 "Empty status bar"
The bar appears but the folder or git information doesn't show at all.

![hyper](https://user-images.githubusercontent.com/291228/35186413-a5f4890c-fe0b-11e7-876a-157e26015b4f.png)

Below is my hyper config file:

[code]
I am running Manjaro Linux 4.14.14 and hyper 2.0.0-canary.9

[2018-01-22 12:09] henrikdahl commented on #70
Any console output? ✌️

[2018-01-22 14:29] mighty-pirate commented on #70
I am afraid not. I have also tried running with only hyper-statusline installed.

[2018-01-26 15:39] marcinczenko commented on #61
Hmm - this still does not seem to be working for me. I have the following setting:

[code]

and

[code]

The `dirtyColor` and `aheadColor` does not seem to have any effect. Regardless of the state of my repo, I always get the same view:

<img width="591" alt="hyper" src="https://user-images.githubusercontent.com/298182/35447134-2b98ffac-02b7-11e8-91d3-85d4e7d3b1fc.png">

Any ideas?

Thanks in adva

[2018-02-18 23:59] chaoky opened #71 "Npm bug?"
npm ERR! code EBADPLATFORM
npm ERR! notsup Unsupported platform for hyper-statusline@1.7.4: wanted {"os":"!          win32","arch":"any"} (current: {"os":"win32","arch":"x64"})
npm ERR! notsup Valid OS:    !win32
npm ERR! notsup Valid Arch:  any
npm ERR! notsup Actual OS:   win32
npm ERR! notsup Actual Arch: x64

[2018-02-23 18:38] mateodelnorte opened #72 "error installing using hpm"
![image](https://user-images.githubusercontent.com/554847/36610577-c6840ee2-189e-11e8-94d6-9b1d4a8bb137.png)

[2018-02-25 23:25] clrxbl commented on #70
Same issue here on Arch Linux and canary.11

[2018-03-17 17:21] henrikdahl commented on #38
In next release ✌️ #73

[2018-03-17 17:21] #38 closed

[2018-03-18 12:59] henrikruscon commented on #71
Try now that Windows is a supported platform, it shouldn't throw that error anymore ✌️

[2018-03-29 21:38] codehearts opened #74 "Nothing displayed on Windows with Cygwin"
I'm on 64bit Windows 7 with cygwin32, Git Bash, and Hyper 1.4.8. The statusline shows nothing until I run a command like `git status` with unstaged changes, then it shows the first path in the output as my cwd with no Git info.

I actually found a workaround for this, by replacing the logic for win32 in `setCwd` with the following

    if (process.platform == 'win32') {
        // lsof isn't prese

[2018-03-31 22:22] james-k-ryan-iii commented on #70
Just ran into this on Arch Linux with Canary.11. Looks like lsof isn't included in the base Arch distribution. Installing lsof resolved the issue.

[2018-04-01 10:50] ghost commented on #70
Thanks a lot @james-k-ryan-iii

[2018-04-01 10:50] #70 closed

[2018-04-10 21:22] pevecyan commented on #74
An option is to have fallback, which triggers if previous method does not return correct path.
For example, default is as is now and if that fails your code gets executed.

[2018-04-10 21:37] codehearts commented on #74
If the last command prints a path name (`git status`), then the existing code thinks that path is the cwd and the fallback won't run. Otherwise that would work.

On top of that, `cygpath` needs to be run if using Git for Windows, but not if Git was installed through Cygwin :weary: You can at least tell if it's Git for Windows by checking if `git --version` contains "windows" (`git version 2.16.1.w

[2018-04-18 20:14] jrock2004 opened #75 "Windows 10 Blank Status Line"
I am using hyper with WSL on Windows 10. All I see an empty status bar

![image](https://user-images.githubusercontent.com/655716/38955691-668301b0-4323-11e8-8231-ae96687d0caa.png)

[code]

[2018-04-19 07:09] pevecyan commented on #75
Yeah, status line is not working on wsl yet

[2018-04-22 15:10] j-f1 commented on #66
I can’t reproduce this on Hyper 2.0.0 with fish, but I do notice that it sometimes takes a second to update the CWD.

[2018-04-22 19:45] asgeir-s commented on #66
I am using Hyper 2.0.0 with oh-my-zsh. And the issue is still present. It does not help to wait. It never updates until I press return again.

[2018-04-27 12:54] ghost commented on #66
Using Hyper 2.0.0 with oh-my-zsh and the path is properly updating, however the git indicator icons are not updated unless I am pressing return again.

[2018-04-27 13:17] ghost opened #76 "Feature Request: git dirty indicator for new but untracked files"
In my zsh configuration I am currently using the following function to track whether there are any modified files and new untracked files:

[code]

The statusline only shows indicators for changes in already tracked files and not for new untracked files.

[2018-04-27 13:20] ghost opened #77 "Git indicators do not update unless one more command is issued (similar to the previous directory update bug)"
Using Hyper 2.0.0 with oh-my-zsh and the path is properly updating, however the git indicator icons are not updated unless I am pressing return again. Basically when I enter a clean git directory and edit a tracked files the indicator is invisible unless I use another command or hit return.

[2018-05-03 04:46] fcharron opened #79 "The plugin breaks window-snapping for Hyper on Windows 10"
Plugin version tested: **1.7.6**
Hyper version tested: **2.0.0**
Windows version: **Windows 10 Pro 1709 (Fall Creators Update)**

### Repro steps:
1- Fresh Hyper install, with no plugin
2- Open Hyper and try to snap the window to screen borders, either by dragging the window with the mouse, or by using WIN+right or WIN+left --> **It works**
3- install hyper-statusline via `hyper i hyper-statusline

[2018-05-03 04:56] fcharron commented on #79
Just realized I accused the wrong plugin. Sorry for the noise...

[2018-05-03 04:56] #79 closed, assigned to nobody

[2018-05-09 11:54] rfgamaral commented on #75
What kind of work would this need to get it working under WSL?

[2018-05-25 13:48] rfgamaral opened #81 "Would love to contribute to this project but I'm confused by the PID usage"
I use Hyper with WSL and this plugin doesn't work with it (see #75). I'm trying to fix that but I come across one thing that is confusing me and I'm not sure how to proceed until I understand what is going on.

Please take a look at:

- https://github.com/henrikdahl/hyper-statusline/blob/master/index.js#L334

Why do we need to get the PID on `SESSION_SET_XTERM_TITLE` and then do nothing with it? I

[2018-05-25 16:27] j-f1 commented on #81
If it’s possible to fetch the PID in `SESSION_ADD_DATA`, then the `pid` global and the `SESSION_SET_XTERM_TITLE` section seem to be unnecessary.

[2018-05-25 16:44] rfgamaral commented on #81
@j-f1 But why do we even need to fetch the PID in `SESSION_ADD_DATA`? The one we currently have when that event is dispatch should be the correct one, we don't need to fetch it again. What am I missing?

[2018-05-26 09:14] rfgamaral commented on #81
@henrikdahl Could you provide some input here please?

[2018-05-28 17:40] rfgamaral commented on #75
I've been trying to get this plugin working with WSL and it's not as easy as I though. Let me walk you through my thought process, what I've achieved already and the problems with my approach.

For all this to work there's a bunch of things that need to happen only if the active shell is a WSL. My approach to know that is simple, as long as zeit/hyper#3046 is merged. We start with this:

* https:/

[2018-05-28 17:52] rfgamaral commented on #75
I've made a small improvement to the implementation above:

* https://github.com/rfgamaral/hyper-statusline/commit/e17beb4e391a28686de5663b12ff193b400b11d1

Instead of getting converting a WSL path to a Windows path multiple times (per each Git command invocation, basically), now it's converted only once before invoking the `setGit` function.

This improves performance a bit but not enough...

Thi

[2018-05-29 16:09] rfgamaral commented on #75
Made two small improvements and fixed a new found issue at the same time:

- https://github.com/rfgamaral/hyper-statusline/commit/34a64608f20b8b18b75bab3ac0b5cb3d5d14898f

Forced WSL bash commands to run in non-interactive mode, speeding up all commands a bit.

- https://github.com/rfgamaral/hyper-statusline/commit/57578e8add0280a6aef3c7310d90c08bebb32ca6

Instead of passing the current working di

[2018-06-07 14:27] philippedes opened #82 "Git status not working"
I'm currently using the hyper-statusline plugin and I just changed from a Ubuntu to a Mac, it was working fine on Ubuntu but now using the same config I can't see my git branch and file status.

Here's my config :

[code]

[2018-06-19 16:12] adlersantos opened #83 "Adjust opacity or contrast for current working directory"
Hi! I'd like to suggest the ability to adjust opacity or contrast for the font/foreground in relation to the background.

It's a bit difficult to read the current working directory given the default settings:

<img width="1271" alt="screen shot 2018-06-19 at 12 10 07 pm" src="https://user-images.githubusercontent.com/1208372/41609862-bd10ad4a-73b9-11e8-961b-8bb343a95839.png">

Thanks!

[2018-07-10 17:22] #82 closed, assigned to nobody

[2018-07-11 12:04] ypresto commented on #83
FYI: You can disable transparency of footer.

[code]

[2018-07-11 15:24] adlersantos commented on #83
@ypresto Thank you! It's more readable now

[2018-07-11 15:24] #83 closed, assigned to nobody

[2018-09-03 17:21] j-f1 commented on #67
This included in #78, which I’ve published to [`@j-f/hyper-statusline`](https://www.npmjs.com/package/@j-f/hyper-statusline). You can swap `hyper-statusline` with `@j-f/hyper-statusline` in your config to switch.

[2018-09-03 17:38] j-f1 commented on #76
This included in #78, which I’ve published to [`@j-f/hyper-statusline`](https://www.npmjs.com/package/@j-f/hyper-statusline). You can swap `hyper-statusline` with `@j-f/hyper-statusline` in your config to switch.

[2018-09-03 17:39] j-f1 commented on #81
Feel free to open a PR on [my fork](https://github.com/j-f1/forked-hyper-statusline). I’ll be happy to review and get the changes published!

[2018-12-03 17:18] Sufiane commented on #63
same here
hyper: 2.0
hyper-statusline: 1.7.6

[2018-12-06 18:34] rolurq opened #86 "Not playing nice with other plugins"
This plugin decorates the `Hyper` component, however, it takes from the props the `customChildren` and adds its components but then puts them in the `customInnerChildren` prop, [here](https://github.com/henrikdahl/hyper-statusline/blob/8a38c32629452da5bd719b20350b0db36cdf2962/index.js#L287):
[code]

The problem with this, is that if other plugin decorates this component, if it uses `customInnerChi

[2018-12-10 19:11] iamjaredwalters commented on #63
Having the same issue

hyper: 2.0.0
hyper-statusline: 1.7.6

[2018-12-13 01:14] castrog commented on #63
Finally found a solution to my problem, maybe it's the same for everyone else. For some reason my Xcode install was messed up. You might be able to fix your issue by installing the Xcode command line tools:
[code]

[2018-12-13 07:47] Sufiane commented on #63
@castrog It fixed my problem too ! Thanks for the update !

[2018-12-13 15:30] iamjaredwalters commented on #63
Yep, fixed me right up. Appreciate it, @castrog

[2019-01-12 01:17] darkdreamingdan commented on #75
I think perhaps we should run a helper inside of WSL that broadcasts on an e.g. Unix Socket.  Windows can read the Unix Socket file to get the latest information and then draw it that way.

[2019-01-22 18:13] ocarreterom commented on #32
I have this problem only when working on a rebase. Random commits are cancelled due to index.lock errors.

hyper 2.1.1
hyper-statusline 1.7.6

[2019-02-10 19:12] nuynait opened #87 "Not Working With Tmux"
First thanks a lot for making this awesome plugin. it looks fantastic.

However, I found that it does not work with tmux. I use tmux a lot. I guess it might be difficult for making this plugin working with tmux but is it possible to only show the status bar when tmux is not running in the tab?

[2019-02-14 09:44] linonetwo opened #88 "Can not install this plugin in Hyper 3.0.0-canary.8 (canary)"
<img width="346" alt="2019-02-14 5 43 45" src="https://user-images.githubusercontent.com/3746270/52778109-2f5bc000-3080-11e9-8eca-4d8b368490e2.png">

There is no additional information in devtool.

Remove hyper-statusline from plugin list, this error will gone.

---
works fine after full remove of all plugins and reinstall.

[2019-02-14 15:17] j-f1 commented on #88
Can you expand the notification by dragging down on the bottom of it to reveal the rest of the message? It could also be in the devtools.

[2019-02-15 04:47] #88 closed, assigned to nobody

[2019-02-21 04:02] QuentinRoy commented on #69
I would like to emphasize that this issue is quite critical. It seems statusline makes hyper to freeze (or quasi freeze if your lucky) when stdout received a large amount of data.
It just happened to me as I was encrypting a `/home` directory through `ssh`. The terminal never recovered. Needless to say it was not a pleasant experience, this is not the kind of process that you want to kill in the m

[2019-02-21 22:25] ktreese commented on #29
Perhaps I'm missing it, but it seems this is no longer an option?

[2019-02-22 04:16] falconmick commented on #75
It looks like it half works now. its dumping errors to the status bar line, but not git info. Is this being actively looked into or has it been determined to be too difficult?

[2019-04-01 11:05] miglrodri opened #89 "dir path not working with powershell on windows 10"
Hello guys,

Here's an image with the problem and following is my config.

![alt text](https://i.imgur.com/29JZ56e.png "hyper")

config (excerpt):
- shell: 'C:\\WINDOWS\\System32\\WindowsPowerShell\\v1.0\\powershell.exe',
- shellArgs: ['-NoLogo'],

[2019-04-01 11:12] miglrodri commented on #89
I have a problem when i use multiple tabs too, the change of the tab does not refresh dir folder and git status. it only changes when i interact with the tab itself. This is an issue?

Best regards

[2019-04-09 18:16] ianizaguirre commented on #26
I am not seeing how to change the font size? can I get an example

[2019-05-24 00:29] machinshin commented on #75
@rfgamaral : any updates on this thread/PR?

[2019-05-24 09:19] rfgamaral commented on #75
I'm no longer working on it, I couldn't find a reliable solution.

[2019-06-18 19:57] TristanCottam opened #90 "Git information not showing"
**OS :** Windows 10 Pro
**Hyper version :** 3.0.2
**hyper-statusline version :** 1.7.6

On a fresh install, Git info doesn't appear. Current path displays fine though.

[2019-06-19 19:40] jubby2000 opened #91 "Causes Hyper to hang when running ts-lint"
Possible duplicate of #10, but just wanted to provide more perspective if necessary. es-lint does seem to run a bit slower when statusline is enabled, but will still run. ts-lint will completely hang.

[2019-06-21 10:42] jakob-fuchs commented on #65
+1

It is really confusing when you SSH into a server and then the git info from the path where you started the command is still present.

I can't offer any help, but maybe a simpler solution could be to show the active terminal app or process instead of the git information? So if you start a long running process like run `npm run serve` it would show that in the status bar instead of the git info

[2019-07-10 13:26] BoundlessCarrot opened #92 "statusline not working with fish"
Exactly what the title says. I'm trying to switch over to using fish and statusline isn't showing my file path when I cd into folders. As you can see in the screenshot I'm multiple folders deep but statusline isn't showing the path.

Any help would be appreciated!

<img width="1440" alt="Screen Shot 2019-07-10 at 3 25 52 PM" src="https://user-images.githubusercontent.com/9306546/60972679-0a196800-

[2019-07-11 05:22] sidney-neto commented on #92
Try add shell in **.hyper.js**, fish path.
[code]

[2019-07-11 12:21] BoundlessCarrot commented on #92
That fixed it. Thanks!

[2019-08-07 10:24] ffuubarbuzz commented on #69
Same happening on every line scroll in `git diff` which makes it unusable :(

[2019-08-20 15:54] bkma commented on #92
That didn't seem to work for me. Is that all you did?

[2019-08-21 11:59] BoundlessCarrot commented on #92
For me, yes. In the end, however, I decided not to use fish because I'm too lazy to convert all of my bash aliases and functions to the fish format :P

[2019-09-18 04:14] IrvingArmenta-ML commented on #90
Same error as above.

OS : Mac OS Mojave
Hyper version : 3.0.2
[code]

[2019-09-22 10:28] Nostrus commented on #90
I've just run into the same problem, but it turned out I also didn't have access to run simple git commands on the command line, the following error was thrown:

`Agreeing to the Xcode/iOS license requires admin privileges, please run “sudo xcodebuild -license” and then retry this command.`

So I started Xcode, accepted the prompted license agreement, let it install some updates, and then voila! G

[2019-10-10 16:53] shnhrrsn commented on #32
Ah this has been driving me insane for weeks.  I finally tried my rebase in a large repo in Terminal on a whim and it worked and quickly realized this plugin was the issue.

[2019-10-15 02:36] ergofriend opened #93 "japanese dir name is displayed unicode characters"
dir name
[code]

displayed
[code]

![image](https://user-images.githubusercontent.com/29725082/66795232-f5102e80-ef3e-11e9-969c-ae6a6ae8f3e5.png)

[2019-10-18 04:55] jerriclynsjohn commented on #74
This works only problem is that when I cd out of the repository the statusline still shows the same branch with the all the git numbers from the previous repo, even if you cd into another repo,

This works if you directly open hyper from the respective repo, Is there anyone who has solved this.

[2019-11-13 21:48] bkma commented on #92
Revisiting this, it just doesn't show my current branch... Any fix for that?

[2019-11-15 18:43] BoundlessCarrot commented on #92
Unfortunately not, sorry

[2020-01-27 17:04] #71 closed

[2020-06-17 08:24] Pasqat commented on #90
**OS :** Windows 10 Pro
**Hyper version :** 3.0.2
**hyper-statusline version :** 1.7.6

Same issue, as anyone find a solution?

[2020-12-29 09:15] Matts966 opened #95 "Failed to load with hyperpower"
<img width="373" alt="スクリーンショット 2020-12-29 18 10 20" src="https://user-images.githubusercontent.com/28551465/103272857-40f2aa80-4a01-11eb-9e8b-6176e6a83aa1.png">

I could not see the whole line of error. Sorry.

`Plugin Error! Plugin "hyperpower" failed to load (ENOMENT: no such file or directory, open '~/.hyper_plugins/node_modules/color-stri...`

I see `color-string` module in my `~/.hyper_plugi

[2021-05-26 02:42] EliasGcf commented on #93
I have the same issue.

Any solution?

[2021-05-26 03:32] EliasGcf commented on #93
I FIND THE SOLUTION

[code]

You can edit the `LANG` to your language unicode. (http://itdoc.hitachi.co.jp/manuals/3021/3021335500e/PCAU0074.HTM)

Thanks, @birobirobiro, for your collaboration.

[2021-05-27 05:13] #93 closed, assigned to nobody

[2021-07-19 00:31] mitchwd opened #96 "hyper-statusline causes significant lag in Hyper v3.1.0"
Hyper was automatically updated to the latest stable version, but the hyper-statusline plugin causes so much lag that it makes it unusable.

Disabling the hyper-statusline plugin immediately resolves the issue.

Note: Similar project, hyperline has the same issue: https://github.com/Hyperline/hyperline/issues/198

[2021-07-24 18:23] tr1s commented on #96
Following this topic.

I have the same issue, disabling the plugin solves the lag for me as well.

[2021-08-09 15:23] RenanSgorlom commented on #96
still happening for hyper 3.1.2

[2022-06-12 14:57] Badrmoh opened #97 "Allow controlling the text size and position of the status line"
On high resolution monitors, statusline becomes unreadable. It would be nice to make it possible to appear at the top or to control the text to make it larger. Thanks.

[2022-09-23 00:32] jimlove7273 opened #98 "Hi, just curious if this plugin has the ability to change the background color? Thanks"

[2022-11-23 22:59] JJJ commented on #96
Not happening in 3.3.0. Fixed upstream in Electron.